<section id="notifications">
  <div class="c">

      <h3>Get Meetup Notifications</h3>
      <p class="rss-subscribe">Subscribe via <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="icon-broadcast"></i> RSS</a> | <a href="https://ifttt.com/recipes/186850-hs-hackers-nyc-e-mail-notifications" target="_blank"><i class="icon-envelope"></i> E-mail</a> | <a href="https://ifttt.com/recipes/186851-google-calendar-for-hs-hackers-nyc" target="_blank"><i class="icon-notebook"></i> Google Calendar</a> | <a href="http://ifttt.com" target="_blank"><i class="icon-chat"></i> SMS</a> | <a href="http://ifttt.com" target="_blank"><i class="icon-iphone"></i> Android</a> | <a href="http://ifttt.com" target="_blank"><i class="icon-bulb"></i> More on IFTTT</a></p>

  </div>
</section>


<footer>

  <div class="c">
    <div class="row">
      <div class="col-33">
        <h3>{{ site.title }}</h3>
        <p>{{ site.description }}</p>
        <p>Come to create something awesome,
        learn how to code, or bring your existing projects.
        No matter your skill level, anyone is welcome!</p>
        <p>
          <a href="/about"><i class="icon-plus"></i> Learn More</a>
          <br>
          <a href="/about#code-of-conduct"><i class="icon-grid"></i> Code of Conduct</a>
        </p>
      </div>
      <div class="col-33">
        <h3>Other Meetups</h3>
        <p>
          <a href="http://www.meetup.com/NYC-TechBreakfast/" target="_blank"><i class="icon-planet"></i> NYC TechBreakfast</a>
          <br>
          <a href="http://www.meetup.com/ny-tech/" target="_blank"><i class="icon-planet"></i> NY Tech Meetup</a>
          <br>
          <a href="http://www.meetup.com/technically-brooklyn/" target="_blank"><i class="icon-planet"></i> Technical.ly Brooklyn Meetup</a>
          <br>
          <br>
          <a href="http://philly.hshackers.org/" target="_blank"><i class="icon-planet"></i> HS Hackers Philadelphia</a>
          <br>
          <a href="https://www.facebook.com/groups/PennAppsHS/events/" target="_blank"><i class="icon-facebook"></i> Facebook Group Events</a>
        </p>
        <h3>Stay in Touch</h3>
        hello at victorlourng dot com
      </div>
      <div class="col-33 hidden-mobile">
        <h3>@HSHackersNYC</h3>
        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/HSHackersNYC"  data-widget-id="484199749394784256"><i class="icon-twitter"></i> Tweets by @HSHackersNYC</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
  </div>

</footer>

<div class="footnote">
  <div class="c">
    <a class="to-the-moon right" href="#top"><i class="icon-pointer-up"></i> Back to Top</a>
    <p>Created &amp; crafted with &nbsp; <i class="icon-heart love" title="love"></i> &nbsp; by <a href="http://victorlourng.com" target="_blank"><i class="icon-smile"></i> Victor Lourng</a>. Proudly hosted on <a href="http://github.com/hshackers/nyc/" target="_blank"><i class="icon-github"></i> GitHub Pages</a>.</p>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0bjUUQmiaxPuS11USZgxDC-WLFsTb1lM&v=3.exp&sensor=true&region=US"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/scripts/site.js"></script>