@font-face {
    font-family: 'Museo Slab';
    src: url('https://googledrive.com/host/0BzaG5a5H75AvVmRicVhLZzNnNlk/museo_slab_100.eot');
    src: url('https://googledrive.com/host/0BzaG5a5H75AvVmRicVhLZzNnNlk/museo_slab_100.eot?#iefix') format('embedded-opentype'),
         url('https://googledrive.com/host/0BzaG5a5H75AvVmRicVhLZzNnNlk/museo_slab_100.woff') format('woff'),
         url('https://googledrive.com/host/0BzaG5a5H75AvVmRicVhLZzNnNlk/museo_slab_100.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: 'Museo Slab';
    src: url('https://googledrive.com/host/0BzaG5a5H75AvVmRicVhLZzNnNlk/museo_slab_500.eot');
    src: url('https://googledrive.com/host/0BzaG5a5H75AvVmRicVhLZzNnNlk/museo_slab_500.eot?#iefix') format('embedded-opentype'),
         url('https://googledrive.com/host/0BzaG5a5H75AvVmRicVhLZzNnNlk/museo_slab_500.woff') format('woff'),
         url('https://googledrive.com/host/0BzaG5a5H75AvVmRicVhLZzNnNlk/museo_slab_500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'Museo Slab';
    src: url('https://googledrive.com/host/0BzaG5a5H75AvVmRicVhLZzNnNlk/museo_slab_700.eot');
    src: url('https://googledrive.com/host/0BzaG5a5H75AvVmRicVhLZzNnNlk/museo_slab_700.eot?#iefix') format('embedded-opentype'),
         url('https://googledrive.com/host/0BzaG5a5H75AvVmRicVhLZzNnNlk/museo_slab_700.woff') format('woff'),
         url('https://googledrive.com/host/0BzaG5a5H75AvVmRicVhLZzNnNlk/museo_slab_700.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Museo Slab';
    src: url('https://googledrive.com/host/0BzaG5a5H75AvVmRicVhLZzNnNlk/museo_slab_1000.eot');
    src: url('https://googledrive.com/host/0BzaG5a5H75AvVmRicVhLZzNnNlk/museo_slab_1000.eot?#iefix') format('embedded-opentype'),
         url('https://googledrive.com/host/0BzaG5a5H75AvVmRicVhLZzNnNlk/museo_slab_1000.woff') format('woff'),
         url('https://googledrive.com/host/0BzaG5a5H75AvVmRicVhLZzNnNlk/museo_slab_1000.ttf') format('truetype');
    font-weight: 1000;
    font-style: normal;

}