// Acual Variables
// -> The real stuff.

$fonts: 'Franklin Gothic', Arial, sans-serif;
$serif: Georgia, sans;
$monospace: 'Menlo', 'Consolas', 'Courier New', 'Ubuntu Mono', monospace;

$proxima: 'Proxima Nova', 'Proxima',  Arial;
$museo: "Museo Slab", $fonts;

// One can Metro UI the crap up out of this with the change of a variable.
$border-radius: 4px;

// Font size
$font-size: 18px;

// Mobile viewports
$desktop: 1170px;
$tablet: 950px;
$mobile: 767px;